@use "sass:map";
@use "variables/variable" as *;

.product {
    &-switch {
        display: flex;
        gap: 20px;
        border-bottom: 1px solid $colorBorderTable;
        margin-bottom: 10px;

        &-link {
            cursor: pointer;
            padding: 10PX;
            margin-bottom: -1px;

            &.active {
                border-bottom: 1px solid $colorTextAccent;
                color: $colorTextAccent;
            }

            &:not(.active):hover {
                color: $colorTextMedium;
            }
        }
    }

    &-info {

        > div:not(.product-price-calculator) {
            display: flex;
            gap: 10px;
            > div {
                &:nth-child(1) {
                    min-width: 200px;
                }
                &:nth-child(2):not(.stock) {
                    flex: auto;
                    //overflow: hidden;
                    //-webkit-line-clamp: 1;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                }
                &:nth-child(3) {
                    flex: 10%;
                }
                &.stock {
                    //width: 180px;
                    white-space: pre-line;
                }
            }
        }
        &-string {
            padding: 10px;
            border-radius: 10px;
            background-color: $colorBackgroundMain;
            > div:first-child {
                color: $colorTextMedium;
            }
            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &:hover .copy > svg {
                display: revert;
            }

            .copy > svg {
                display: none;
                color: $colorIcons;
                cursor: pointer;
            }

            //&-stock {
            //    display: flex;
            //    gap: 20px;
            //}
        }

    }
    &-presence {

    }

    &-price-client {
        margin-bottom: 80px;
        display: grid;
        justify-content: space-between;
        gap: 24px;
        grid-template-columns: repeat(3, 1fr);
        > div {
            &:nth-child(1) {

            }
            &:nth-child(2) {
                text-align: center;
                input {
                    //width: 100%;
                }
            }
            &:nth-child(3) {
                text-align: end;
            }
        }
    }
    &-price-calculator {
        padding: 10px;
        h4 {
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
            color: #7B7B7B;
        }
        > div {
            display: flex;
            gap: 10px;
            align-items: center;
            > div:not(.sign) {
                h3 {
                    //margin-bottom: 10px;
                }
                > div {
                    font-size: 13px;
                    line-height: 28px;
                    font-weight: 400;
                    color: $colorTextMedium;
                }
                //width: 130px;
                background-color: $colorBackgroundMain;
                padding: 17px 10px 7px;
                border-radius: 10px;
            }
            .sign {
                color: $colorTextMedium;
            }
        }

    }
    &-history-price-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 20px;

        h3 {
            margin-bottom: 10px;
        }
    }
}

.block {
    //margin-bottom: 80px;
    //padding: 32px;
    //border: 1px solid $colorBorderAccent;
}