@use "../../../app/styles/variables/variable" as *;

.pass-top {
	display: flex;
	align-items: center;
	gap: 20px;

	&-folder {
		display: flex;
		align-items: center;
		gap: 20px;

		> div {
			display: flex;
			align-items: center;
			gap: 10px;
			background-color: $colorBackgroundLight;
			padding: 10px 18px;
			border-radius: 8px;

			svg {
				color: $colorIcons;
			}
		}

		> span {
			font-weight: 600;
		}
	}

	.reload {
		display: flex;
		align-items: center;
		gap: 14px;
		height: fit-content;
		padding: 10px 18px;
		font-size: 20px;
		border-radius: 8px;
		cursor: pointer;
		box-shadow: 0 2px 4px 0 #00000033;
		background-color: $colorBackgroundLight;

		> span {
			font-weight: 600;
		}

		> svg {
			color: $colorBtnAccent;
		}
	}
}

.content {
	display: flex;
	justify-content: space-between;
}