@use "sass:map";
@use "variable" as *;

.nav-main {
  flex: 20%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  > a {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: $colorIcons;
    &:hover {
      background-color: $colorHover;
    }
    &.active {
      color: $colorTextAccent;
      //> svg {}
    }
    > svg {
      width: 15px;
      height: 15px;
    }
  }
}