/* Colors */
$colorBlack                     : #000;
$colorLight                     : #FFF;
$colorGray1                     : #585757;
$colorGray2                     : #939393;
$colorGray3                     : #C4C4C4;
$colorGray4                     : #969696;
$colorGray5                     : #707070;
$colorGray6                     : #EFEFEF;
$colorGray7                     : #E8E8E8;
$colorGray8                     : #7E7E7E;
$colorGray9                     : #00000008;
$colorGray10                    : #F0F0F0;
$colorGray11                    : #7B7B7B;
$colorGray12                    : #626262;
$colorGray13                    : #F2F2F2;
$colorGray14                    : #0000000F;
$colorAccent                    : #3F80D0;



$colorAccentLight               : #83AEE4;
$colorBackground                : #EFF3F6;
$colorBackgroundSecondary       : #D2E0F0;
$colorDanger                    : #FF7C7C;
$colorWell                      : #00B1D0;
$colorBoxShadow                 : #205AA180;
$colorDisable                   : #dbdbdb;

$colorSearch                    : #00B1D020;

$colorTextDark                  : $colorBlack;
$colorTextLight                 : $colorLight;
$colorTextAccent                : $colorAccent;
$colorTextAccentLight           : $colorAccentLight;
$colorTextDisable               : $colorDisable;
$colorBtnAccent                 : $colorAccent;
$colorBtnSecondary              : $colorGray1;
$colorBackgroundMain            : $colorBackground;
$colorBackgroundLight           : $colorLight;
$colorBackgroundBlock           : $colorBackgroundSecondary;
$colorBorderTable               : $colorGray1;
$colorBtnNotActive              : $colorGray1;


$colorBackgroundAccent          : $colorAccent;
$colorBackgroundAccentLight     : $colorAccentLight;
$colorBackgroundAccent          : $colorAccent;

/* Sizes */
$size3XS                        : 240;
$size2XS                        : 360;
$sizeXS                         : 420;
$sizeS                          : 480;
$sizeM                          : 560;
$sizeL                          : 680;
$sizeX                          : 760;
$sizeXL                         : 860;
$size2XL                        : 960;
$size3XL                        : 1080;
$size4XL                        : 1280;
$size5XL                        : 1480;
$size6XL                        : 1660;
$size7XL                        : 1920;
