/* Colors */
$colorBlack                     : #000;
$colorLight                     : #FFF;
$colorGray                      : #C7D2DE;
$colorAccent                    : #003372;
$colorAccentLight               : #83AEE4;
$colorBackground                : #EFF3F6;
$colorBackgroundSecondary       : #D2E0F0;
$colorDanger                    : #FF7C7C;
$colorWell                      : #00B1D0;
$colorBoxShadow                 : #205AA180;

$colorSearch                    : #00B1D020;

$colorTextDark                  : $colorBlack;
$colorTextLight                 : $colorLight;
$colorTextAccent                : $colorAccent;
$colorTextAccentLight           : $colorAccentLight;
$colorBtnAccent                 : $colorAccentLight;
$colorBtnSecondary              : $colorGray;
$colorBackgroundMain            : $colorBackground;
$colorBackgroundLight           : $colorLight;
$colorBackgroundBlock           : $colorBackgroundSecondary;
$colorBorderTable               : $colorGray;
$colorBtnNotActive              : $colorGray;


$colorBackgroundAccent          : $colorAccent;
$colorBackgroundAccentLight     : $colorAccentLight;
$colorBackgroundAccent          : $colorAccent;

/* Sizes */
$size3XS                        : 240;
$size2XS                        : 360;
$sizeXS                         : 420;
$sizeS                          : 480;
$sizeM                          : 560;
$sizeL                          : 680;
$sizeX                          : 760;
$sizeXL                         : 860;
$size2XL                        : 960;
$size3XL                        : 1080;
$size4XL                        : 1280;
$size5XL                        : 1480;
$size6XL                        : 1660;
$size7XL                        : 1920;
