@use "sass:map";
@use "variable" as *;

@import "product";

* {
    box-sizing: border-box;
    font-family: "Intro", sans-serif;
    &:not(thead) {
        ::selection {
            background: $colorBackgroundAccentLight;
            color: $colorTextLight;
        }
    }
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: $colorBackgroundMain;
}

main {
    padding-top: 100px;
}

footer {
    padding-bottom: 100px;
    text-align: end;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.hide {
    display: none !important;
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
    //cursor: pointer;
}

.btn {
    height: fit-content;
    padding: 12px 24px;
    background-color: $colorBtnAccent;
    color: $colorTextLight;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 8.8px 0 $colorBoxShadow;
    }
}

h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 28px;
    color: $colorTextAccent;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;

    color: $colorTextAccent;
}

h4 {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    margin: 0 0 14px;
    color: $colorTextAccent;
}

.loading {
    text-align: center;
}

.not-found {
    text-align: center;
}

.character {
    &-group {
        &-select {
            > div:first-child {
                margin-bottom: 8px;
            }
        }
    }
}
.option {
    padding-bottom: 32px;
    &-type {
        margin-bottom: 32px;
        select {
            height: 300px;
        }
    }
    &-main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: end;
        margin-bottom: 80px;
        row-gap: 42px;
        column-gap: 42px;
    }
}

input, select {
    &:not(.hide) {
        border: none;
        padding: 14px 14px;
        font-size: 14px;
        line-height: 17px;
        &:hover {
            box-shadow: 0 0 8.8px 0 $colorBoxShadow;
        }
        &:focus-visible {
            outline: none;
        }
        &:not(.page-size-input) {
            width: 100%;
        }
    }

}

input {
    //height: 44px;
    &:focus-visible {

    }
    &:not(.show-element) {
        //width: 120px;
    }
    &.show-element {
        width: 480px;
    }
}
select {

}

.table-wrap {
    margin-bottom: 80px;
}

.table {
    width: 100%;
    height: fit-content;
    border-spacing: 0;
    thead {
        background-color: $colorBackgroundAccentLight;
        color: $colorTextLight;
        ::selection {
            background: $colorBackgroundLight;
            color: $colorTextAccentLight;
        }
        tr {
            th {
                padding: 12px;
            }
        }
    }
    tbody {
        background-color: $colorBackgroundLight;
        tr {
            td {
                padding: 12px;
                text-align: center;
                &:not(:last-child) {
                    border-right: 1px solid $colorBorderTable;
                }
                > a {
                    color: $colorTextAccentLight;
                    &:hover {
                        color: $colorTextAccent;
                    }
                }
            }
            &:not(:last-child) > td {
                border-bottom: 1px solid $colorBorderTable;
            }
        }
    }
}

.pagination-wrap {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: end;
    margin-top: 42px;
}
.pagination {
    display: flex;
    gap: 28px;
    justify-content: center;
    width: 100%;
    > button {
        color: $colorTextLight;
        cursor: pointer;
        &:not(.previous, .next) {

        }
        &.next {
            width: 35px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("/arrow.svg");
        }
        &.previous {
            width: 35px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("/arrow.svg");
            transform: rotate(180deg);
        }
        &.not-active {
            pointer-events: none;
            cursor: default;
            opacity: 0.5;
            //background-color: $colorBtnNotActive;
        }
        &:hover {
            //box-shadow: 0 0 8.8px 0 $colorBoxShadow;
        }
    }
    &-page-size {
        display: flex;
        align-items: center;
        gap: 14px;
        > input {
            max-width: 56px;
            text-align: center;
            width: fit-content;
        }
    }
}

.input-search {
    //position: relative;
    &-head {

    }
    &-wrap {
        position: relative;
        input {

        }
    }

    &-list {
        //display: none;
        display: flex;
        flex-direction: column;
        max-height: 320px;
        width: 100%;
        background-color: $colorBackgroundLight;
        overflow-y: scroll;
        position: absolute;
        top: 45px;
        //top: 86px;
        left: 0;
        z-index: 1;
        box-shadow: 0 9px 8.8px -14px $colorBoxShadow;
        &.active {
            display: flex;
        }
        &-item {
            &:not(:last-child) {
                border-bottom: 1px solid $colorBackgroundMain;
            }
            &:not(label) {
                padding: 7px 14px;
            }
            height: 35px;
            cursor: pointer;
            &:hover {
                color: $colorBtnSecondary;
            }
            > input:checked + div::before {
                background-color: $colorBtnAccent;
            }
            > div.check {
                padding: 7px 14px;
                &::before {
                    content: '';
                    height: 1rem;
                    width: 1rem;
                    display: inline-block;
                    margin-right: 8px;
                    border: 1px solid $colorBtnAccent;
                }
                &:hover {
                    color: $colorBtnSecondary;
                }
            }

        }
    }
}

.block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 21px;
    column-gap: 30px;
    padding: 17px 25px 35px;
    background-color: $colorBackgroundBlock;
}

.block-prod {
    margin-bottom: 42px;
}

.suit {
    color: $colorWell;
    //background-color: darkseagreen;
}

.search {
    background-color: $colorSearch;
    //border-bottom-color: $colorWell;
}

.reset {
    margin-bottom: 80px;
}



*::-webkit-scrollbar {
    width: 14px;               /* ширина всей полосы прокрутки */
}

*::-webkit-scrollbar-track {
    background: $colorBackgroundLight;        /* цвет зоны отслеживания */
}

*::-webkit-scrollbar-thumb {
    background-color: $colorBackgroundMain;    /* цвет бегунка */
    border-radius: 7px;       /* округлось бегунка */
    border: 3px solid $colorBackgroundLight;  /* отступ вокруг бегунка */
}