@charset "UTF-8";
/* Colors */
/* Sizes */
/* Colors */
/* Sizes */
header {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-links {
  display: flex;
  gap: 30px;
}
header .header-links a {
  color: #000;
}

/* Colors */
/* Sizes */
footer {
  padding-bottom: 100px;
  text-align: end;
}

/* Colors */
/* Sizes */
h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  height: fit-content;
  color: #000;
}

h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  margin: 0 0 20px;
  color: #000;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  color: #000;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  color: #000;
}

/* Colors */
/* Sizes */
.input-search-head {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.input-search-head .reset-option {
  padding: 0 8px;
  width: 1rem;
  height: 1rem;
  background-image: url("/img/cross.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.input-search-wrap {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
}
.input-search-wrap-top {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.input-search-wrap-top svg {
  flex: none;
  color: #939393;
}
.input-search-wrap-top svg:last-child {
  width: 28px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.input-search-wrap-top svg:last-child:hover {
  color: #3F80D0;
}
.input-search-wrap-top svg:last-child.show {
  transform: rotate(180deg);
}
.input-search-wrap-text {
  flex: auto;
}
.input-search-wrap-text-wrap {
  flex: auto;
  display: flex;
  gap: 10px;
  align-items: center;
}
.input-search-wrap-text-wrap > div:nth-child(1) {
  max-width: 80%;
}
.input-search-list {
  font-size: 16px;
  line-height: 28px;
  color: #626262;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFF;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid #C4C4C4;
  box-shadow: 0 6px 10px 0 rgba(36, 61, 161, 0.2509803922);
}
.input-search-list.tree {
  max-height: 400px;
}
.input-search-list:not(.tree) {
  max-height: 188px;
}
.input-search-list.active {
  display: flex;
}
.input-search-list .tree {
  display: flex;
  align-items: center;
}
.input-search-list .tree-show {
  margin-left: 10px;
  cursor: pointer;
  width: 28px;
  height: auto;
  transform: rotate(270deg);
  transition: transform 0.3s ease-in-out;
  flex: none;
}
.input-search-list .tree-show:hover {
  color: #3F80D0;
}
.input-search-list .tree-show.show {
  transform: rotate(360deg);
}
.input-search-list-item {
  cursor: pointer;
}
.input-search-list-item:not(label) {
  padding: 10px 20px;
}
.input-search-list-item > input:checked + div::before {
  border-color: #3F80D0;
  background-color: #3F80D0;
  background-image: url("/public/img/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}
.input-search-list-item > div.check {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
.input-search-list-item > div.check::before {
  content: "";
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 8px;
  border-radius: 4px;
  border: 1px solid #C4C4C4;
  box-shadow: 0 1px 1px 0 #F2F2F2;
  flex: none;
}
.input-search-list-item.subitem {
  padding-left: 70px;
}
.input-search .checked-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.input-search .checked-list-item {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0 6px 0 10px;
  background-color: #FFF;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #C4C4C4;
  border-radius: 28px;
  border: 1px solid #C4C4C4;
  cursor: pointer;
}
.input-search .checked-list-item > div:first-child {
  text-wrap: nowrap;
}
.input-search .checked-list-item .unchecked {
  width: 10px;
  height: 10px;
  background-image: url("/img/cross.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Colors */
/* Sizes */
.option {
  padding-bottom: 32px;
}
.option-type {
  width: 100%;
  margin-bottom: 20px;
}
.option-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: end;
  row-gap: 20px;
  column-gap: 10px;
}

/* Colors */
/* Sizes */
.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin: 20px auto 0;
}
.pagination > button {
  min-width: 42px;
  height: 42px;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid #F2F2F2;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination > button:not(.number) {
  color: #939393;
}
.pagination > button.not-active {
  pointer-events: none;
  cursor: default;
  opacity: 0.7;
  background-color: #F2F2F2;
}
.pagination-page-size {
  display: flex;
  align-items: center;
  gap: 14px;
}
.pagination-page-size > input {
  max-width: 56px;
  text-align: center;
  width: fit-content;
}

/* Colors */
/* Sizes */
.product-info > div:not(.product-price-calculator) {
  display: flex;
  gap: 10px;
}
.product-info > div:not(.product-price-calculator) > div:nth-child(1) {
  min-width: 200px;
}
.product-info > div:not(.product-price-calculator) > div:nth-child(2):not(.stock) {
  flex: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.product-info > div:not(.product-price-calculator) > div:nth-child(3) {
  flex: 10%;
}
.product-info > div:not(.product-price-calculator) > div.stock {
  white-space: pre-line;
}
.product-info-string {
  padding: 10px;
  border-radius: 10px;
  background-color: #F2F2F2;
}
.product-info-string > div:first-child {
  color: #626262;
}
.product-info-string:not(:last-child) {
  margin-bottom: 10px;
}
.product-info-string:hover .copy > svg {
  display: revert;
}
.product-info-string .copy > svg {
  display: none;
  color: #939393;
  cursor: pointer;
}
.product-price-client {
  margin-bottom: 80px;
  display: grid;
  justify-content: space-between;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}
.product-price-client > div:nth-child(2) {
  text-align: center;
}
.product-price-client > div:nth-child(3) {
  text-align: end;
}
.product-price-calculator {
  padding: 10px;
}
.product-price-calculator h4 {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #7B7B7B;
}
.product-price-calculator > div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.product-price-calculator > div > div:not(.sign) {
  background-color: #F2F2F2;
  padding: 17px 10px 7px;
  border-radius: 10px;
}
.product-price-calculator > div > div:not(.sign) > div {
  font-size: 13px;
  line-height: 28px;
  font-weight: 400;
  color: #626262;
}
.product-price-calculator > div .sign {
  color: #626262;
}
.product-history-price-wrap {
  width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 48px;
  margin-top: 20px;
}

/* Colors */
/* Sizes */
.table-loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #F2F2F2;
  opacity: 0.5;
  transition: all 0.5s;
}
.table-loading-text {
  opacity: 0.2;
  transition: opacity 0.5s;
}

.table {
  width: 100%;
  height: fit-content;
  border-spacing: 0;
  border: 1px solid #F2F2F2;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
}
.table thead {
  padding: 14px 10px;
}
.table thead tr th {
  padding: 10px;
  border-bottom: 1px solid #F2F2F2;
  text-align: left;
}
.table tbody {
  background-color: #FFF;
}
.table tbody tr td {
  padding: 10px;
  text-align: left;
}
.table tbody tr td > a {
  color: #3F80D0;
}
.table tbody tr:not(:last-child) > td {
  border-bottom: 1px solid #F2F2F2;
}
.table-size {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.table-size-head {
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  color: #000;
}
.table-size-input {
  display: flex;
  gap: 10px;
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid #C4C4C4;
  color: #939393;
}
.table-size-input input {
  width: 140px;
  color: #939393;
}

/* Colors */
/* Sizes */
.nav-main {
  flex: 20%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.nav-main > a {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #939393;
}
.nav-main > a:hover {
  background-color: #F2F2F2;
}
.nav-main > a.active {
  color: #3F80D0;
}
.nav-main > a > svg {
  width: 15px;
  height: 15px;
}

/* Colors */
/* Sizes */
.btn {
  display: flex;
  align-items: center;
  gap: 14px;
  height: fit-content;
  padding: 10px 18px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.btn.btn-accent {
  background-color: #3F80D0;
  color: #FFF;
}
.btn.btn-secondary {
  background-color: #FFF;
  color: #3F80D0;
}
.btn > span {
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.reset > span {
  background-image: url("/img/reset.svg");
}

.copy > span {
  background-image: url("/img/reset.svg");
}

.login > span {
  background-image: url("/img/login.svg");
}

/* Colors */
/* Sizes */
.loading {
  margin: 100px auto;
  text-align: center;
  color: #C4C4C4;
}
.loading > div:nth-child(1) {
  margin: auto;
  display: block;
  position: relative;
  height: 32px;
  width: 140px;
  border: 3px solid #C4C4C4;
  border-radius: 20px;
  box-sizing: border-box;
}
.loading > div:nth-child(1):before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #3F80D0;
  animation: ballbns 2s ease-in-out infinite alternate;
}
.loading > div:nth-child(2) {
  margin-top: 20px;
}

@keyframes ballbns {
  0% {
    left: 0;
    transform: translateX(0%);
  }
  100% {
    left: 100%;
    transform: translateX(-100%);
  }
}
/* Colors */
/* Sizes */
.breadcrumbs {
  padding-bottom: 10px;
}
.breadcrumbs > a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.breadcrumbs > a:first-child {
  color: #626262;
}
.breadcrumbs > a:first-child:hover {
  color: #3F80D0;
}
.breadcrumbs > a:not(:first-child) {
  color: #939393;
}
.breadcrumbs > a:not(:first-child):hover {
  color: #3F80D0;
}
.breadcrumbs > a:not(:last-child)::after {
  content: url("/img/arrow.svg");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 10px;
}

/* Colors */
/* Sizes */
.error .input-search-wrap {
  background-color: rgba(209, 91, 91, 0.1490196078);
}
.error.input-search-list-item {
  background-color: rgba(209, 91, 91, 0.1490196078);
}
.error .checked-list-item {
  color: red;
  border-color: red;
}
.error .checked-list-item .unchecked {
  background-image: url("/img/cross-error.svg");
}
.error.checked-list-item {
  color: red;
  border-color: red;
}
.error.checked-list-item .unchecked {
  background-image: url("/img/cross-error.svg");
}

.disable.input-search-list-item {
  background-color: rgba(209, 91, 91, 0.1490196078);
}

.selected-disable .input-search-wrap {
  background-color: rgba(147, 147, 147, 0.1019607843);
}
.selected-disable.input-search-list-item {
  background-color: rgba(209, 91, 91, 0.1490196078);
}
.selected-disable .checked-list-item {
  color: #C4C4C4;
  border-color: #C4C4C4;
}
.selected-disable .checked-list-item .unchecked {
  background-image: url("/img/cross.svg");
}
.selected-disable.checked-list-item {
  color: #C4C4C4;
  border-color: #C4C4C4;
}
.selected-disable.checked-list-item .unchecked {
  background-image: url("/img/cross.svg");
}

.well .input-search-wrap {
  background-color: #e9f7f2;
}
.well.input-search-list-item {
  background-color: #e9f7f2;
}
.well.tree {
  background-color: #e9f7f2;
}

.not-color .well .input-search-wrap {
  background-color: white !important;
}
.not-color .well.input-search-list-item {
  background-color: white !important;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
*:not(thead) ::selection {
  background: rgba(0, 177, 208, 0.1254901961);
  color: #000;
}

html {
  height: 100%;
}

body {
  padding: 0 10px;
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
}

main {
  height: fit-content;
  flex: 80%;
  position: relative;
  padding: 0 30px 40px;
  border-radius: 30px;
  background-color: #F2F2F2;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.hide {
  display: none !important;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

.not-found {
  text-align: center;
}

.not-options {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  border-radius: 20px;
  border: 1px solid #C4C4C4;
}

.character-type {
  margin-bottom: 20px;
}
.character-group-select .input-wrap {
  display: flex;
  gap: 10px;
  position: relative;
  padding: 10px 14px;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
}
.character-group-select .input-wrap > svg {
  color: #939393;
}

input:not(.hide), select:not(.hide) {
  border: none;
}
input:not(.hide):focus-visible, select:not(.hide):focus-visible {
  outline: none;
}
input:not(.hide):not(.page-size-input), select:not(.hide):not(.page-size-input) {
  width: 100%;
}

input {
  background-color: transparent;
}
input.show-element {
  width: 480px;
}

.section {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}
.section:not(:last-child) {
  margin-bottom: 30px;
}

.block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: 10px;
}

mark {
  background-color: rgba(0, 177, 208, 0.1254901961);
}

*::-webkit-scrollbar {
  width: 14px; /* ширина всей полосы прокрутки */
}

*::-webkit-scrollbar-track {
  background: #FFF; /* цвет зоны отслеживания */
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #F2F2F2; /* цвет бегунка */
  border-radius: 7px; /* округлось бегунка */
  border: 3px solid #FFF; /* отступ вокруг бегунка */
}

.calc-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}
.calc-top-wrap {
  position: sticky;
  top: 0;
  background-color: #F2F2F2;
  z-index: 2;
  padding-top: 40px;
}
.calc-top svg {
  color: #939393;
}

.copy {
  text-align: end;
}

.choice {
  display: flex;
  gap: 20px;
}
.choice div, .choice span {
  cursor: pointer;
}

.error-page {
  padding-top: 40px;
}

/*# sourceMappingURL=character.css.map */
